.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-grad{
  background-image: linear-gradient(to left, rgba(096,000,096), rgba(125,000,255), rgba(170,000,255), rgba(185,000,255), rgba(170,000,255), rgba(125,000,255), rgba(000, 000, 180));
}

.bg-bw{
  background-image: radial-gradient(circle at center, rgba(238, 233, 223, 1), rgba(242, 242, 242, 1));
}
.bg-brokenwhite{
  background-image: radial-gradient(circle at center, rgba(238, 233, 223, 1), rgba(242, 242, 242, 1));
  border: 1px;
  border-color: rgb(200, 200, 200);
  border-radius: 10px;
  padding-top: 4%;
  padding-bottom: 4%;
  
}
.bg-transparentgrey{
  background-color:rgba(25,25,25,0.9);
  background-position: center;
  background-size: cover;
  z-index: 3;
  position:absolute;
  left:0px; 
  top:0px;
}

.bg-red{
  background-color: rgba(255,50,50);
  border: 2px;
  border-color: rgb(0, 0, 0);
  border-radius: 100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;

  




}

.text-blue{
  color : rgb(000,000,180);
}
.text-purp{
  color : rgb(096,000,096);
}

.text-pink{
  color : rgb(185,000,255);
}

.text-white{
  color: rgb(255,255,255);
}

.text-black{
  color: rgb(0,0,0);
}

.text-align-input{
  text-align:left;
  color: rgb(185,000,255);
}

.aligncenter{
  align-items: center;
}

.input_groupe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  align-self: center;
  width: 100%;
}

.input_group_prepend {
  margin-right: -1px;
  
}

.input_group_text{
  background-color: rgba(185,000,255, 0.1);
  color: rgb(0,0,0,);
  border: 1px solid;
  border-color: rgb(185,000,255);
  border-radius: 10px;
  box-sizing: border-box;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;

}

.input_cm{
  background-color: rgba(185,000,255, 0.1);
  color: rgb(0,0,0,);
  border: 0.5px solid;
  border-color: rgb(185,000,255);
  border-radius: 10px;
  box-sizing: border-box;
  padding: .100rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;

}

.input{
  background-color: rgba(185,000,255, 0.1);
  color: rgba(0,0,0, 0.5);
  font-weight: bold;
  border: 2px solid;
  border-color: rgb(185,000,255);
  border-radius: 10px;
  box-sizing: border-box;
}

.custom_file_label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.bg-image{
  background-image: url(./images/6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.margetop18{
  margin-top: 18vh;
}

.margecross{
  margin-top: 10px;
  margin-left: 70px; 
}

.margetop5{
  margin-top: 5%;
}

.margetop10{
  margin-top: 10%;
}

.padtop18{
  padding-top: 18vh;
}
.padtop5{
  padding-top: 5%;
}

.pad5{
  padding: 5%;
}

.padbot5{
  padding-bottom: 5%;
}

.align-center{
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  vertical-align: middle;
}

.btn-accueil{
  background-color: rgba(185, 000, 255, 0.5);
  border-radius: 15px;
  padding: 5%;
  border-color: rgb(185, 000, 255);
  color: rgb(255,255,255);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border:1px ;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, border-radius.15s ease-in-out;
}

.btn-accueil:hover{
  background-color: rgb(185, 000, 255);
  border-radius: 5px;
  border-color: rgb(185, 000, 255);
  color: rgb(255,255,255);
}

.btn-login{
  background-color: rgba(185, 000, 255, 0.5);
  border-radius: 15px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 30%;
  padding-right: 30%;
  border-color: rgb(185, 000, 255);
  color: rgb(255,255,255);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border:1px ;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, border-radius.15s ease-in-out;
}

.btn-login:hover{
  background-color: rgb(185, 000, 255);
  border-radius: 5px;
  border-color: rgb(185, 000, 255);
  color: rgb(255,255,255);
}

.btn-simple{
  background-color: rgba(185, 000, 255, 0.5);
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  border-color: rgba(185, 000, 255, );
  color: rgb(255,255,255 );
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border:2px ;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out, border-radius.15s ease-in-out;
}

.btn-simple:hover{
  background-color: rgb(185, 000, 255);
  border-radius: 5px;
  border-color: rgb(185, 000, 255);
  color: rgb(255,255,255);
}


.width100{
  width: 100%;
}

.size-full{
  height:100%;
  width:100%;
}


.listeMatch {
  margin-top : 70px;
}

.messages {
}
.draggable {
  /* just to size it to content */
  display: inline-block;
  /* opaque background is important for performance */
  background: white;
  /* avoid selecting text while dragging */
  user-select: none;
  text-align: left;
  height: 500px;
  width: 300px;
}
